body{
    background-color: darkgrey;
    line-height: 1;
    margin: 1;
    display: block;
}


/***nav bar***/
nav{
    width:auto;
    margin: 0;
    box-shadow: 0px 0px 12px 2px rgba(35,199,245,1);
}
nav ul{
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul.topnav li a{
    display: flex;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 12px;
    text-transform: uppercase;
    color: #666;
}
ul.topnav li{
    list-style: none;
    float: left;
}
ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li a:hover{
    background-color: #0080ff;
    color: #fff;
}

.ritto{
    margin-top: 15px;
    text-align: center;
}

.heading{
    color: blanchedalmond;
    text-align: center;
    font-size: 25px;
    text-shadow:  -1px 0px 10px rgba(32, 248, 163, 1);
}

.tony{
    color: whitesmoke;
}


.photo-grid {
background-color: grey;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 25px;
grid-row-gap: 25px;
text-align: center;
margin: 25px;
padding: auto;
width: 100%;
}


section.secondpart{
    width: 100%;
    background-color: dimgrey;
    margin: auto;
    margin-top: 7px;
    padding: 25px;
    text-align: center;
}

textarea,input{
    border: 1px;
    border-radius: 7px;
    white-space: 100%;
}
.footer{
    background-color: darkslategrey;
    width: auto;
    margin-top: 60px;
    padding: 25px;
    box-shadow: 0px 0px 12px 2px rgba(35,199,245,1);
}


































